<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Hold Your Olds{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="">
        
        <header class="text-center mb-3">   

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#4534e0" fill-opacity="1" d="M0,256L120,261.3C240,267,480,277,720,245.3C960,213,1200,139,1320,101.3L1440,64L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path>
            </svg>

            <h1>Hold Your Olds</h1>
            {# &#128116 icon oldguy #}

        </header>



        {% block body %}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

        {% endblock %}

        <footer class="p-5">
            <div class="container text-light py-5 text-center">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <h4 class="mt-5">Nos services</h4>
                        <hr>
                        <ul class="list-unstyled">
                            <li class="m-2">lorem</li>
                            <li class="m-2">ipsum</li>
                            <li class="m-2">merguez</li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-4">
                        <h4 class="mt-5">Contact</h4>
                        <hr>
                        <ul class="list-unstyled">
                            <li class="m-2">Email : <a href="mailto: abc@example.com" class="text-light">holdyourolds.contact@hotmail.fr</a></li>
                            <li class="m-2">Téléphone : <a href="tel:+33500000000" class="text-light">tel:+33500000000</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-4">
                        <h4 class="mt-5">Adresse</h4>
                        <hr>
                        <ul class="list-unstyled">
                            <li class="m-2">6 rue Montflez</li>
                            <li class="m-2">89600</li>
                            <li class="m-2">NOUILLORC CITY</li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12 align-items-center align-content-center my-3">
                        <h4 class="m-3">- Suivez-nous sur les réseaux -</h4>
                        <a href="https://www.facebook.com" class="text-light p-2 my-2"><i class="fab fa-facebook fs-2"></i></a>
                        <a href="https://www.instagram.com" class="text-light p-2 my-2"><i class="fab fa-instagram fs-2"></i></a>
                    </div>
                </div>
                <p class="mt-5">
                    Copyright {{ 'now' | date('Y') }}
                </p>
            </div>
        </footer>

    </body>
</html>
